<% page_title "Activity log" %>
<div class="page_meta">&nbsp;</div>

<p>Showing the 50 latest revisions.</p>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Page</th>
      <th>By</th>
    </tr>
  </thead>
  
  <tbody>
    <% @revisions.each do |revision| %>
      <tr>
        <td><%= revision_link(revision.page, revision) %></td>
        <td><%= link_to revision.page.title, page_path(revision.page) %></td>
        <td><%= revision_author_stamp(revision) %></td>
      </tr>
    <% end %>
  </tbody>
</table>