<% page_title "Reverting &ldquo;#{@page.title}&rdquo; to revision #{@revision.number}" %>
<div id="page_meta">
  <%= link_to "Back", page_revision_path(@page, @revision) %>
</div>

<p>Are you sure you want to revert to the <%= page_timestamp(@revision.created_at) %> revision? </p>

<%= button_to "Revert!", revert_page_revision_path(@page, @revision), :method => :put %>